/* modal.css ou global.css */
.modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

.modal-content {
    background: var(--interface-leftbox-bg);
    color: var(--login-text);
    padding: 20px;
    border-radius: 12px;
    min-width: 300px;
    max-width: 90%;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
